<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.js"></script>
<style>
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
</style>
</head>
<body>
<div class="container">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"> Example <span class="caret"></span></button>
    <ul class="dropdown-menu"><item :model="{ id: null, name: 'root' }"></item></ul>
  </div>
</div>
<script>
  document.addEventListener("mouseover", function (ev) {
    if (ev.target.matches("a")) {
      var a = $(ev.target);
      let ul = a.next('ul');

      if (ul.children().length == 0) ul.hide();
      else ul.toggle();

      ev.preventDefault();
      ev.stopPropagation();
    }
  });
const list = [{ parent_id: null, id:1, name: 'child1' }, { parent_id: 1, id:2, name: 'subchild1' }, { parent_id: 1, id:2, name: 'subchild2' }, { parent_id: 2, id:5, name: 'sub_subchild2' },];

var drop = Vue.component('item', {
    props: ['model', 'api'],
    data: function () {
        return { children: [], loading: false}
    },
    created: async function () {
        if (!this.model) this.model = await this.getChildren(null);
    },
    template: `<li class="dropdown-submenu" >
                  <a class="dropper" v-on:mouseover="getChildren(model.id)" tabindex="-1" href="#"> {{model.name}} </a>
                  <ul v-if="children" class="dropdown-menu">
                      <item v-if="children.length > 0 " v-for="(child,index) in children" :key="index" :model="child"></item>
                      <span v-if="loading" class="fa fa-spin fa-spinner center"></span>
                  </ul>
              </li>`,
    watch: {
        children: function () {
            this.model.children = this.children;
        }
    },
    methods: {
        getChildren: async function (id) {
          if (this.children && this.children.length == 0) {
              this.loading = true;
              if (this.api) {
                  this.children = await $.get(this.api, { ID: id });
                  if (this.children.length == 0) this.children = undefined;
                  this.loading = false;
              }
              else { //just for testing
                  setTimeout(() => {
                      this.children = list.filter(child => child.parent_id == id);
                      if (this.children.length == 0) this.children = undefined;
                      this.loading = false;
                  }, 500);
              }
          }
      }
    },
});

new Vue({
  el:".container",
});
</script>

</body>
</html>
